<div class="backg">
    <div class="container cont-princ">
        <app-header></app-header>
        <div class="cont-sec">


            <div class="cont-titulo">
                <h1 class="tit1">Validar reserva</h1>
            </div>


            <div class="cont-val-ticket d-flex align-items-center justify-content-center">
                
                <div class="col-rigth ">

                    <div class="cont-ticket  d-flex justify-content-center ">

                        <div class="">
                            <div class="box-search">

                                <form class="form d-flex align-items-center">
                                    <div class="text-input">
                                        <input type="text" id="input1" placeholder="Igrese codigo de ticket">
                                        <label for="input1">Codigo</label>
                                    </div>

                                    <div>
                                        <input class="btnsearch bouton-2" type="submit" value="Buscar">
                                    </div>
                                </form>

                            </div>

                            <div class="box-data">
                                
                                <div class="box-data2">
                                    <h1>Detalle del ticket</h1>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="data">
                                            <strong>Cliente</strong><br>
                                            <label class="text-muted">Juliana Costas</label>
                                        </div>
                                        <div class="data">
                                            <strong>Email</strong><br>
                                            <label class="text-muted">Juliana@gmail.com</label>
                                        </div>
                                    </div>
    
                                    <div class="data">
                                        <strong>Numero de documento</strong><br>
                                        <label class="text-muted">7421564</label>
                                    </div>
    
                                    <div class="data">
                                        <strong>Fecha programada</strong><br>
                                        <label class="text-muted">01/01/2022</label>
                                    </div>
    
    
                                    <div class="data">
                                        <table class="tabletarifa">
                                            <thead>
                                                <tr>
                                                    <th>Tarifa</th>
                                                    <th>Cantidad</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-muted">General</td>
                                                    <td class="text-muted">3</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted">Niños</td>
                                                    <td class="text-muted">1</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>
                                
                                <div class="circle d-flex justify-content-between align-items-center">
                                    <div class="cir1"></div>
                                
                                        <div class="line"></div>
  
                                    <div class="cir2"></div>
                                </div>

                                <div class="box-data2">
                                    <div class="data d-flex justify-content-between">
                                        <h2><strong >Total</strong></h2><br>
                                        <h1><label class="text-muted">40.00</label></h1>
                                    </div>
    
                                    <div class="text-center ">
                                        <input type="submit" class="bouton-1" value="Confirmar ingreso">
                                    </div>
                                </div>
                                

                            </div>
                        </div>



                    </div>


                </div>
            </div>



        </div>
    </div>
</div>

<app-footer></app-footer>