<!-- nav -->
<div class="backg">
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand logo-title" href="index.html"><i class='uil uil-user'>ic</i> Museo</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link"><span data-hover="Sobre mi">Inicio</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link"><span data-hover="Sobre mi">Venta</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#project" class="nav-link"><span data-hover="Proyectos">Validar reserva</span></a>
                    </li>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Mantenimiento
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Horario</a></li>
                            <li><a class="dropdown-item" href="#">Tarifa</a></li>
                            <li><a class="dropdown-item" href="#">Trabajador</a></li>
                            <li><a class="dropdown-item" href="#">Usuario</a></li>
                            <li><a class="dropdown-item" href="#">Cargo</a></li>
                        </ul>
                    </div>

                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                        <div class="color-mode d-lg-flex justify-content-center align-items-center">
                            <i class="color-mode-icon"></i>
                            cerrar sesion
                        </div>
                    </div>
                </ul>

            </div>
        </div>
    </nav>
</div>