<!-- nav -->
<div class="backg">
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">

            <a class="navbar-brand logo-title " href="/inicio"><img src="https://i.ibb.co/sb9L9TB/LogoM.png"
                    alt="LogoM" width="40px"> MUSEO</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a routerLink="/inicio" class="nav-link "><span data-hover="Sobre mi"> <strong>Inicio</strong>
                            </span></a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/venta" class="nav-link "><span
                                data-hover="Sobre mi"><strong>Venta</strong></span></a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/validarticket" class="nav-link "><span data-hover="Proyectos"><strong>Validar
                                    reserva</strong></span></a>
                    </li>


                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <strong>Mantenimiento</strong>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" routerLink="/manthorario">Horario</a></li>
                            <li><a class="dropdown-item" routerLink="/manttarifa">Tarifa</a></li>
                            <li><a class="dropdown-item" routerLink="/manttrabajador">Trabajador</a></li>
                            <li><a class="dropdown-item" routerLink="/mantusuario">Usuario</a></li>
                            <li><a class="dropdown-item" routerLink="/mantcargo">Cargo</a></li>
                        </ul>
                    </div>




                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                        <div class="dropdown">
                            <a class="user dropdown-toggle" href="#" role="button" id="dropdownUser"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <strong>Juan Perez</strong>
                            </a>
    
                            <ul class="dropdown-menu" aria-labelledby="dropdownUser">
                                <li><a class="dropdown-item" routerLink="/manthorario">Cerrar sesion</a></li>
                            </ul>
                        </div>


                    </div>
                </ul>

            </div>
        </div>
    </nav>
</div>