.doc{
    background-color: #A4D8C2;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 50%;
    height: 600px;
}

.tituloLog{
    color: #2C535A;
    font-size: 28px;
    max-width: 90%;
    font-weight: bold;
    
}

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #69A8B7;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}


.f1buttons{
    padding-top: 50px;
}


.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #498495;
}

.login-form-1 .ForgetPwd{
    color: #498495;
    font-weight: 600;
    text-decoration: none;
    padding-top: 20px;
}

.lblUser{
    color: #498495;
}

.lblPass{
    color: #498495;
}

